
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js "> </script>



   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script>
   $(document).ready(function() {
   $('#reservation_table').DataTable();});
   </script>
</head>

<body style="background:white ">
    {% if reservation_table %}
    <table id="reservation_table" class="display">
        <thead>
            <tr>
                <th>Rental_name</th>
                <th>ID</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Previous Reservation, Id</th>

            </tr>
        </thead>
        <tbody>
            {% for rev in reservation_table %}
                <tr>
                    <td>{{rev.Rental_name}}</td>
                    <td>{{rev.ID}}</td>
                    <td>{{rev.Checkin}}</td>
                    <td>{{rev.Checkout}}</td>
                    <td>{{rev.Last_reservation}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No Reservations</p>
    {% endif %}

</body>
</html>